/* Estilos básicos para a página */
* {
  margin: 0;
  padding: 0;
}

.hero-profile {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100px;
  padding: 100px 20px; /* Menor padding para que o conteúdo apareça mais rápido */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-profile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Fundo escurecido */
  z-index: 1;
}

.hero-title {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  font-weight: bold;
  width: 20%;
  margin-right: 42%;
  color: white;
  text-align: start;
  text-transform: uppercase;
}

.hero-details {
  position: relative;
  z-index: 2;
  background: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  box-shadow: 0 4px 80px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.hero-details img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.hero-details h2 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

.hero-details p {
  margin: 30px 0 0;
  font-size: 1rem;
  color: #666;
}

.hero-comics {
  position: relative;
  z-index: 2;
  background: rgb(241, 241, 241);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 30px auto 0;
  flex-grow: 1;
}

.hero-comics h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.comics-grid {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  gap: 15px;
}

.comic-card {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  background: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comic-card img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.comic-info {
  flex: 1;
}

.comic-card h4 {
  margin: 0 0 5px;
  font-size: 1.2rem;
  color: #333;
}

.comic-card p {
  margin: 0 0 5px;
  font-size: 0.9rem;
  color: #666;
}

.comic-meta {
  display: flex;
  gap: 10px;
  font-size: 0.85rem;
  color: #999;
  margin-top: 5px;
}

.spinner {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}

.teste {
  margin-bottom: 30px;
}
